{% extends 'base/principal.html' %}
{% block content %}

<div class="barra_superior">
    <div>
        <h1>
            Hola {{ request.user.username|title }}
        </h1>
        <h3 style="margin:0">
            Tienes <i>{{ count }}</i> tarea{{ count|pluralize }} incompleta{{ count|pluralize }}
        </h3>
    </div>

    {% if request.user.is_authenticated %}
    <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Cerrar sesión</button>
    </form>
    {% else %}
    <a href="{% url 'login' %}">Ingresar</a>
    {% endif %}
</div>

<div id="envoltorio_agregar_buscar">

    <form method="GET" style="margin-top: 20px; display: flex;">
        <input type="text" name="area_buscar" value="{{ valor_buscado }}" />
        <input class="boton" type="submit" value="Buscar" />
    </form>
    <a id="enlace_agregar" href="{% url 'crear_tarea' %}"> &#43;</a>
</div>






{% for tarea in tareas %}
<div class="envoltorio_tarea">
    <div class="titulo_tarea {% if tarea.completo %}completa{% else %}incompleta{% endif %}">
        <div class="{% if tarea.completo %}icono_tarea_completa{% else %}icono_tarea_incompleta{% endif %}"></div>
        <a href="{% url 'editar_tarea' tarea.id %}">{{ tarea.titulo }}</a>
    </div>

    <div>
        <!-- Botón para cambiar el estado -->
        <a href="{% url 'toggle_completo' tarea.id %}" style="margin-right: 10px;">
            {% if tarea.completo %}
            <span style="color: #ffc107;">Desmarcar</span>
            {% else %}
            <span style="color: #28a745;">Completar</span>
            {% endif %}
        </a>

        <!-- Botón para eliminar -->
        <a class="enlace_eliminar" href="{% url 'eliminar_tarea' tarea.id %}">Eliminar</a>
    </div>
</div>
{% endfor %}



{% endblock content %}
